<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    html, body {
      width: 100%;
      padding: 0;
      margin: auto;
      min-width: 375px;
    }
  </style>
</head>
<body>
<h2 style="color: #729cbe; font-size: 14px;"><%= htmlWebpackPlugin.options.message %></h2>
<div id="app"></div>
</body>
</html>